.docker-sync
public/
storybook-build/
node_modules/
npm-debug.log
.DS_Store
.php_cs.cache
junit.xml
.php_cs.cache
.php-cs-fixer.cache
.npmrc
.dbsnapshots
yarn-error.log
.vscode
.idea
.swp
.vagrant/
Vagrantfile
.huskyrc
*.svg.react.js
