body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 2rem;
  margin: auto;
  margin-top: 20px;
}

.main-table {
  table-layout: fixed;
  width: 100%;
}

.main-table th {
  font-size: 2rem;
  background-color: lightgray;
  padding: 1rem;
}